.faq {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 64px;
    padding-inline: 16px;

    &__container {
        max-width: 1200px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-family: 'Transforma Mix';
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0px;
        color: #252525;
        width: 100%;
    }

    &__item-btn {
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7733F4;
        border-radius: 100%;
        flex-shrink: 0;
    }

    &__list {
        width: 100%;
        display: flex;
        gap: 16px;
        flex-direction: column;
        margin-top: 24px;
    }

    &__item {
        background-color: #FFFFFF;
        min-height: 100px;
        width: 100%;
        justify-content: space-between;
        padding: 23px;
        padding-inline: 32px;
        border-radius: 16px;
    }

    &__item-title {
        color: #252525;
        font-family: Onest;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0%;
        line-height: 1;
        max-width: 540px;

    }
    
    &__item-top {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    &__item-content {
        font-family: Onest;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        color: #252525;
        margin-top: 10px;
    }

    @media screen and (min-width: $desktops-md) {
        padding-inline: 0px;
    }

    @media screen and (min-width: $desktops-sm) {
        &__container {
            flex-direction: row;
            gap: 24px;
            align-items: start;
        }

        &__title {
            font-size: 40px;
            max-width: 486px;
            line-height: 48px;
        }

        &__item-title {
            font-size: 22px;
        }

        &__list {
            margin-top: 0px;
            gap: 8px;
        }

        &__item-content {
            font-size: 16px;
            margin-top: 23px
        }
    }
}