.reviews {
    display: flex;
    width: 100%;
    justify-content: center;

    &__container {
        width: 100%;
        max-width: 1200px;
        height: max-content;
        position: relative;
        color: white;
    }

    &__item-first, &__item-first-mob, &__item-first-desk {
        background-image: url('../../../public/images/reviews/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 384px;
        height: 100%; 
        position: absolute;
        display: flex;
        padding: 32px;
        flex-direction: column;
        border-radius: 16px;
        z-index: 100;
    }

    &__item-first-mob {
        padding: 24px;
        min-height: 380px;
        width: 100%;

        display: flex !important;
        position: relative;
    }

    &__item-first-desk {
        display: none;
    }


    &__bottom-item {
        border: 2px #D9D9D9 solid;
        border-radius: 100%;
        position: absolute;
    }

    &__item {
        border-radius: 16px;
        background-color: #FFFFFF;
        min-height: 240px;
        padding: 24px;
        display: flex !important;
        flex-direction: column;
    }

    &__item-title {
        font-family: Onest;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0px;
        width: 100%;
        color: #252525;
    }

    &__item-description {
        font-family: Onest;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
        color: #252525;
        margin-top: 16px;
    }

    &__item-top {
        flex: 1 0 auto;
    }

    &__item-bottom {
        display: flex;
        justify-content: space-between;
        flex: 0 0 auto;
        position: relative;
    }

    &__item-bottom-image {
        flex-shrink: 0;
        height: 64px;
    }

    &__item-first-content {
        flex-grow: 1;
    }

    &__item-date {
        color:#626776;
        font-family: Onest;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
    }

    &__item-link {
        font-family: Onest;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
        text-decoration: underline !important;
        color: #252525;
    }

    &__item-first-top {
        display: flex;
    }

    &__rating {
        display: flex;
        background: #7733F4;
        min-width: 109px;
        min-height: 38px;
        font-family: Onest;
        font-weight: 600;
        font-size: 24px;
        line-height: 22px;
        letter-spacing: 0px;
        border-radius: 100px;
        padding: 8px;
        gap: 6px;
        padding-inline: 16px;
    }

    &__title {
        font-family: 'Transforma Mix';
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0px;
        color: #252525;
        margin-top: 16px;
    }

    .reviews__bottom-item:nth-child(2) {
        transform: translateX(35px);
    }
    .reviews__bottom-item:nth-child(3) {
        transform: translateX(68px);
    }
    .reviews__bottom-item:nth-child(4) {
        transform: translateX(104px);
    }
    .reviews__bottom-item:nth-child(5) {
        transform: translateX(138px);
    }

    .reviews__item:nth-child(1),
    .reviews__item:nth-child(2),
    .reviews__item:nth-child(3) {
        margin-bottom: 24px;
    }

            
        &__nav, &__nav-mob, &__nav-desk {
            display: flex;
            width: 100%;
            justify-content: end;
            gap: 8px;

            margin-top: 24px;
        }

    @media screen and (min-width: $desktops-sm) {
        margin-top: 64px;

        &__item-first-mob {
            display: none !important;
        }

        &__item-first-desk {
            max-height: 504px;
            display: flex !important;
        }

        &__item {
            margin-top: 0px !important;
        }

        .swiper,
        .swiper-wrapper,
        .swiper-slide {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }

        &__nav-mob {
            display: none;
        }

        &__nav-desk {
            display: flex;
        }

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }

    @media screen and (max-width: $desktops-sm) {
        &__item-first-desk {
            display: none !important;
        }
        

        &__item-first-mob {
            display: flex !important;
            margin-top: 0px;
        }

        &__item-first {
            position: relative;
        }

        &__title {
            font-family: 'Transforma Mix';
            font-weight: 600;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: 0px;

            margin-top: 54px;
        }

        &__nav-mob {
            display: flex;
            margin-bottom: 16px;

        }

        &__nav-desk {
            display: none;
        }

        &__container {
            min-height: 380px;
            padding: 16px;
        }

        &__item-first {
            min-height: 380px;

        }

        &__item {
            max-height: 240px !important;
            min-height: 380px;
        }
    }
}