.solutions {
  padding: 0px 0px;
  position: relative;
  overflow: visible;
}

.solutions__list {
  list-style: none;
  position: relative;
  height: 180px; /* высота блока под элементы */
  padding: 0;
  margin: 0;
}

.solutions__item {
  user-select: none;
  cursor: default;
  /* можно добавить transition для плавности */
  will-change: transform;
}

.solutions {
    
    width: 100%;

    display: flex;
    justify-content: center;


    &__inner {
        width: 100%;
        max-width: 1200px; 
        border-radius: 24px;
        background-color: #FFFFFF;
        padding: 24px;
         padding-inline: 16px;
    }

    &__title {
        font-family: 'Transforma Mix';
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: center;
        color: #252525;
    }

    &__image-wrap {
        width: 40%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
    }

    &__info {
        overflow: hidden;
        padding: 32px;
        padding-inline: 24px;
        width: 70%;
    }

    &__info-title {
        font-family: Onest;
        font-weight: 500;
        font-size: 24px;
        line-height: 22px;
        color: #000000;
    }

    &__info-description {
        font-family: Onest;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
        margin-top: 16px;
        display: block;
        color: #000000;
    }

    &__item {
        max-width: 792px;
        border-radius: 16px;
        overflow: hidden;
        background-color: #F1EFE5;

    }


    &__list {
        width: 100%;
        display: flex;
        justify-content: center;

        margin-top: 33px;
    }

    &__item-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 

    &__item {
        width: 100%;
        display: flex;
    }


    @media screen and (min-width: $desktops-sm) {
        padding-bottom: 0px;
        
        &__inner {
            padding: 48px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__title {
            max-width: 792px;
        }

        &__info {
            width: 70%;
        }

        &__list {
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }

        &__item-image {
            min-height: 100%;
        }

        &__image-wrap 
        {
            min-height: 100%;
            height: auto;
        }
    }

    @media screen and (max-width: $desktops-sm) {
        padding-inline: 16px     ;

        &__image-wrap {
            width: 100%;
            height: auto;
            min-height: 145px;
        }

        &__item-image {
            height: auto;
            height: 145px;
        }

        &__item {
            flex-direction: column;
        }

        &__list {
            flex-direction: column;
            gap: 16px;
        }

        &__info {
            width: 100%;
            padding: 24px;
            padding-inline: 16px;
        }

        &__title {
            font-size: 28px;
            line-height: 34px;
        }

    }
}