.code-stage {
    position: relative;
    z-index: 100;
    background-color: #FFFFFFCC;
    backdrop-filter: blur(6px);
    border-radius: 26px;
    max-width: 679px;
    width: 100%;
    padding: 32px;

    &__prev {
        font-family: Onest;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0px;
        text-decoration: underline;
        color: #7C8092;
        margin-bottom: 48px;
        cursor: pointer;
    }

    &__description {
        font-family: Onest;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin-top: 24px;
        margin-bottom: 12px;
    }

    &__list {
        margin-bottom: 24px;
        gap: 8px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: Onest;
        font-weight: 600;
        font-size: 28px;
        line-height: 39px;
        letter-spacing: 0px;
        color: #252525;
        margin-bottom: 24px;
    }

    &__price {
        color: #7733F4;
    }

    &__roles {
        display: flex;
        gap: 12px;
        margin-bottom: 40px;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__item {
        background-color: #FFFFFF;
        padding: 16px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
    }

    &__item svg {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    &__item-title {
        font-family: Onest;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
        color: #000000;
        margin-top: 8px;
        display: block;
    }

    &__label {
        color: #E10007;
        background-color: #FEEDED;
        border-radius: 8px;
        padding-top: 2px;
        padding-inline: 8px;
        padding-bottom: 4px;

        font-family: Onest;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin-bottom: 20px;
        width: fit-content;
    }

    &__label-wrap {
        display: flex;
        width: 100%;
        justify-content: end;
    }

    &__item-number {
        background-color: #7733F4;
        padding: 3px;
        padding-inline: 16px;
        border-radius: 24px;
        color: white;
        font-family: Onest;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0px;
        display: block;
        width: fit-content;
        height: fit-content;
    }

    &__input {
        border: none;
        outline: none;
        border: 1px solid #7C8092;
        min-height: 64px;
        padding-inline: 16px;
        color: #7C8092;
        font-family: Onest;
        font-weight: 400;
        font-size: 18px;
        line-height: 0px;
        letter-spacing: 0px;
        background-color: #FFFFFF;
        border-radius: 16px;
        width: 100%;
    }

    &__bottom-btn {
        border-radius: #7733F4;
        font-family: Onest;
        font-weight: 500;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: -5%;
        color: #7733F4;

        border-radius: 16px;
        border: 2px solid #7733F4;
        padding: 21px;
        padding-inline: 24px;
        width: 50%;
        cursor: pointer;
    }
    
    button {
        cursor: pointer;
    }

    @media screen and (max-width: $tablets) {
        padding: 24px;
        &__title {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 16px;
        }
        
        &__bottom {
            gap: 12px;
        }

        &__phone {
            display: block;
            width: 100%;
        }

        &__prev {
            margin-bottom: 32px;
        }

        &__bottom-btn {
            width: 100%;
        }

        &__label-wrap {
            position: relative;
            margin-bottom: 40px;
            display: flex;
            justify-content: end;
        }

        &__label {
            position: absolute;
            min-width: 305px;
        }
    }

    @media screen and (min-width: $tablets) {
        &__bottom {
            display: flex;
            width: 100%;
            max-width: 100%;
            gap: 16px;
            flex-direction: row;
        }

        &__input {
            max-width: 320px;
        }

        &__bottom > button {
            width: 50%;
        }

        &__item {
            display: flex;
            gap: 16px;
        }

        &__item-title {
            margin-bottom: 0px;
            margin-top: 0px;
            max-width: 392px;
        }

        &__item:nth-child(1) svg {
            height: 76px;
            width: 93px;
        }

        &__item:nth-child(2) svg {
            height: 49px;
            width: 45px;
            top: 14px !important;
            right: 20px !important;
        }

        &__item:nth-child(3) svg {
            height: 51px;
            width: 55px;
            top: 13px;
            bottom: auto;
            right: 10px;
        }
    }
}