.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.modal, .modal-filter {
  width: 100%;
  max-height: 90vh;
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
}

.modal-filter {
    background-color: #F1EFE5;

    .modal-mobile__top > .modal-mobile__top-line     {
        background-color: #FFFFFF !important;
    }

    .modal-mobile__content-top button {
        border-radius: 8px;
    }

    .modal-mobile__content-top button svg rect {
        fill: #FFFFFF;
    }
    .modal-mobile__content > div button {
        border: solid transparent 1px !important; 
        border-color: none !important;
        box-shadow:none;
        background-color: white;
    }

    .modal-mobile__content button img {
        display: none;
    }
}


.modal-mobile {
    &__top {
        min-height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__top-line {
        background-color: #EFF0F5;
        border-radius: 100px;
        height: 4px;
        width: 40px;
    }

    &__content {
        padding-inline: 16px;
        padding-bottom: 16px;
    }

    &__content-top {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 16px;
    }

    &__title {
        font-family: Onest;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #191816;
    }
}
