@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.audio-player__waveform {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  width: 200px; 
  margin: 0 12px;
}

.audio-player__waveform-bar {
  width: 4px;
  border-radius: 2px;
  transition: background-color 0.3s;
  user-select: none;
}


.select {
    font-family: Onest ;
    font-weight: 600 ;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;

    backdrop-filter: blur(10px);
    background-color: #FFFFFF66;
    border: none;
    color: #46454E;

    @media screen and (max-width: 426px) {
      width: 100%;
    }
}

.text-align-center .public-DraftStyleDefault-ltr {
  text-align: center;
}

.text-align-right .public-DraftStyleDefault-ltr {
  text-align: right;
}

.text-align-left .public-DraftStyleDefault-ltr {
  text-align: left;
}

.text-align-justify .public-DraftStyleDefault-ltr {
  text-align: justify;
}

.public-DraftEditorPlaceholder-root {
  font-family: Onest;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
}

.popup-inner {
  
}

.public-DraftEditorPlaceholder-root > div{
  height: 100%;
}

.public-DraftStyleDefault-block .public-DraftStyleDefault-ltr {
  height: 100% !important;
  display: block;
}

.public-DraftStyleDefault-ltr {
  height: 100% !important;
  display: block;
}

.DraftEditor-root {
  height: 100% !important;
  display: block;
}

@media screen and (min-width: 768px) {
  .public-DraftEditorPlaceholder-root {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
  }
}

.not-register-modal button  {
  max-width: 316px;
  font-family: Onest;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -5%;
}

[id] {
  scroll-margin-top: 110px;
}

#storage-babysitter {
  scroll-margin-top: 0px;
}

.block_beige {
    background-color: #F1EFE5;
}

html {
  scroll-behavior: smooth;
}

main {
    flex-grow: 1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

html, body {
  height: 100%;
}

body {
    background-color: #F1EFE5;

    height: 100%;
    display: flex;
    flex-direction: column;
}

.rc-slider-rail, .rc-slider-track {
  top: 10px !important;
}

.rc-slider-track {
  background-color: #7733F4 !important;
}

.rc-slider-disabled {
  background-color: transparent !important;
}

 
  .modal-filter .modal-mobile__content button {
  border: none !important;
  box-shadow: none !important;
  }


.rc-slider-handle{
  opacity: 1 !important;
  background: white !important;
  border: 2px solid #7733F4 !important;
  height: 24px !important;
  width: 24px !important;
  box-shadow: none !important;
}

.rc-slider-handle::before{
  position: absolute !important;
  top: 4px !important;
  left: 4px !important;
  width: 12px !important;
  height: 12px !important;
  background-color: #7733F4 !important;
  border-radius: 100% !important;
  content: '' !important;
}

.rc-slider-disabled .rc-slider-track {
  background-color: #D9D9D9 !important;
}

.rc-slider-disabled .rc-slider-handle{
  border: 2px solid #D9D9D9 !important;;
}

.rc-slider-disabled .rc-slider-handle::before{
  background-color: #D9D9D9 !important;
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}
