

.presentation-profile {
    scroll-margin-top: 200px;


    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 32px;
    padding-inline: 16px;
    // padding-top: 100px !important;


    &__list {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        gap: 16px;
        margin-top: 16px;
    }

    &__title {
        font-family: 'Transforma Mix';
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0px;
        color: #252525;

        max-width: 690px;
    }

    &__inner {
        background-image: url('../../../public/images/card-babysit/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding-left: 48px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
        max-width: 1200px;
        width: 100%;
        border-radius: 24px;
    }

    &__link {
        font-family: Inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0px;
        text-decoration: underline;
        color: #191816;

        margin-top: 24px;
        display: block;
        text-align: start;
    }

    &__select-wrap {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        margin-bottom: 24px;
    }

    @media screen and (max-width: $desktops-md) {
        padding: 0px;

        &__inner {
            padding-left: 16px;
            border-radius: 0px;
        }

        &__right {
            margin-top: 24px;
        }
    }

    @media screen and (min-width: $desktops-md) {
        padding-inline: 16px;
        border-radius: 24px;
        padding-top: 0px !important;
        padding-bottom: 98px !important;
        overflow: hidden;

        &__inner {
        }

        &__list {
            grid-template-columns: 1fr 1fr;
            gap:24px;
            display: grid;

            margin-top: 0px;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
        }

        &__top {
            display: flex;
            justify-content: space-between;
        }

        &__right {
            max-width: 588px;
        }


        &__title {
            margin-top: 32px;
            font-size: 40px;
            line-height: 48px;
        }
    }
}