.audio-player {
    display: flex;
    border-radius: 16px;
    background-color: #EFF0F5;
    padding: 8px;
    align-items: center;
    gap: 15px;
    width: max-content;
    overflow: hidden;
    position: relative;

    &__right {
        display: flex;
        flex-direction: column;
        gap: 6px;
        position: relative;
    }

    &__duration {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.23px;
        text-align: left;
        color: #431DED;
    }

    &__btn-edit {
        position: absolute;
        bottom: 6px;
        right: 0px;
        font-family: Onest;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.23px;
        color: #7C8092;
        cursor: pointer;
    }

    @media screen and (max-width: $tablets) {
        max-width: 100%;
    }
}