.header-menu {
    background-color: #F1EFE5;
    position: fixed;
    z-index: 150;
    width: 100svw;
    height: 100svh;

    &__container {
        padding-inline: 16px;
        padding-top: 103px;
        padding-bottom: 64px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__item {
        font-family: Inter;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #252525;
    }

        &__item {
        font-family: Inter;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #252525;
    }

    &__list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__bottom {
        flex-shrink: 0;
    }

    &__bottom-link {
        font-family: Onest;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0px;
        color: #252525;
        display: block;
    }

    &__bottom-link:not(:first-child) {
        margin-top: 12px;
    }

    &__socials {
        margin-top: 24px;
        display: flex;
        gap: 12px;
    }

    &__item-btn {
        font-family: Onest;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0%;
        color:#7733F4;
        border: 1.5px solid #7733F4;

        border-radius: 12px;
        border-width: 1.5px;
        padding-top: 21px;
        padding-right: 20px;
        padding-bottom: 21px;
        padding-left: 20px;
    }

    &__city {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0px;
        gap: 4px;
        border: #252525 1px solid;
        padding: 7px;
        padding-inline: 16px;
        display: flex;
        border-radius: 16px;
        color: #252525;
        width: fit-content;
    }

    @media (hover: hover) and (pointer: fine) {
        &__item:hover {
            color: #252525B2;
        }
    }

    @media screen and (min-width: $desktops-md) {
        display: none;
    }
}